{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list%}
        <div class="col-md-3">
           <div class="card" style="width: 16rem;">
  <img class="card-img-top" src="{{i.img.url}}" alt="...." width="170px" height="170px">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.des}}</p>
    <a href="{% url 'movieapp:details' i.id%}" class="btn btn-primary">Submit</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}